.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 100vh;
    background-color: #777;
  }
  .carousel-item > img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 100vh;
  }
  
.card-img-right {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.card-body{
    width: 15rem;
}

.carousel-caption{
    bottom: 10%;
}

.carousel-caption h5{
    font-size: 45px;
    margin-bottom: 25px;
    letter-spacing: 1.7px;
}

.carousel-caption p{
    width: 100%;
    margin: auto;
    font-size: 18px;
}

.navbar-dark .navbar-brand{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link{
    color: #fff;
    transition: color 0.3s ease;
}

.navbar-toggler{

    font-size: 18px;
    line-height: 0.3;
    padding: 1px 5px;
}

.navbar-nav{
    text-align: center;
}

.nav-link{
    padding: 5px;
}

#feature{
    background-color: #f4f4f4;
}

.marketing h2 {
    font-weight: 400;
}

.nav-footer ul {
   display: flex; 
}

.nav-footer ul li a{
    color:#fff;
    text-decoration: none;
    margin-right:25px;
    transition: color 0.3s ease;
}

.nav-footer ul li:hover a{
    color: #777;
}